/* h2{
    color: blue;
}

p{
    color: rgb(136, 11, 31);
    background-color: aliceblue;
} */
 
/* *{
    color: blue;
    padding: 0;
    margin: 0;
} */

/* .b{
    color: blue;
}

.r{
    color: red;
}

#l{
    color: aqua;
} */

/* h1, h2, p{
    color: aqua;
} */

#outerDiv p{
    color: red;
}