body{
    background-color: darkgreen;
}

.container{
    display: flex;
    justify-content: space-between;
}

#p3{
    color: white;
}

#p1{
    font-size:15px;
    color:darkseagreen;
}

#d1{
    color:white;
}

#p2{
    font-size:15px;
    color:white;
}

#d2{
    font-size: 12=5px;
    align-items:center;
    display: flex;
    justify-content:space-around;
    text-align: center;
}

#h1{
    height:120px;
    width:220px;
    background-color: darkseagreen;
    padding-top: 60px;
}

#h2{
    height:120px;
    width:220px;
    background-color: darkseagreen;
    padding-top: 60px;
}


#h3{
    height:120px;
    width:220px;
    background-color: darkseagreen;
    padding-top: 60px;
}

span{
    color: darkseagreen;
}